<!DOCTYPE html>
<html>

<head>

    <link href="../static/styles.css" type="text/css" rel="stylesheet"/> <!-- CSS stylesheet -->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />

    <title>
        Joseph Caligiuri's Portfolio
    </title> <!-- tab title-->

</head>

<body> 
    

<h1><li id="intro">Joseph Caligiuri</li></h1> <!-- Introduction -->

<p1> This is my project portfolio </p1> <!-- Topic -->

<p>
<a href="https://www.google.com">Google</a> <!-- hyperlink -->
</p>

<p>
    <img src="../static/cat.jpg"> <!-- imbeded image -->
</p> 

</body>
</html>
